@import "variables";
@import "base";

body {
    background-image: url(../Images/ruvim-noga-o0R4iqk1eRQ-unsplash.jpg);
    background-size: cover;
background-repeat: no-repeat;

.sidebar{display: none;}





}

.navbar {
    position: fixed;
    top: 2%;
    right: 9%;
    font-size: 2rem;
    a{color: $merry;}
  }
main {
    display: flex;
    justify-content: center;
    align-items: center;
  }.sec1 {
    width: 100%;
    margin-top: 15%;
    margin-left: 2rem;
    h1 {
      font-size: 3rem;
      margin-bottom: 10px;
      color: $merry;
     
    }
    h2 {
      display: none;
    }
  
    b {
      font-size: 1.5rem;
      color: $merry;
    }
    p{display: none;
    width: 100%;}
  
    article {
      margin-top: 5px;
      font-size: 1.5rem;
      font-weight: 600;
      margin-bottom: 5px;
      width: 80%;
      
      
    }
  }
  
  .sec3{
      margin-top: 10px;
      margin-right: 5rem;
      padding-bottom: 10px;
      
      h2{
          font-size: 2.4rem;
          color:$merry;
          margin-bottom: 10px;
          
      }
      i{
        color: $primary;
      }      
      .div1{
  position: relative;
          height: 15px;
          width: 100%;
      border: 3px solid;
      margin-top: 5px;
      background-color: $primary;
      margin-bottom: 5px;
      border-radius: 50px;
     
      }
  
      .divJs{
          height: 10px;
          box-shadow: inset 10px 10px 25px $secondary;
          border-radius: 50px;
          animation: js-fill 2s forwards;
    }
   
      .divH{
        width: 85%;
          height: 10px;
          box-shadow: inset 10px 10px 25px $danger; border-radius: 50px;
       
       animation: html-fill 2.5s ;
        
        }
       
        
     .divcss{
     
          height: 10px;
          box-shadow: inset 10px 10px 25px $perry; border-radius: 50px;
        
          animation: css-fill 2.5s forwards;
        }



        
        }
          .divC{
            width: 85%;
              height: 10px;
              box-shadow: inset 10px 10px 25px $merry; border-radius: 50px;
              animation: html-fill 2.5s forwards;
        
            }
          .divL{
              height: 10px;
              box-shadow: inset 10px 10px 25px $secondary; border-radius: 50px;
              animation: css-fill 2.5s forwards;
        
            }
          .divT{
              height: 10px;
              box-shadow: inset 10px 10px 25px $danger; border-radius: 50px;
              animation: css-fill 2.5s forwards;  }
          .divLd{width: 85%;
              height: 10px;
              box-shadow: inset 10px 10px 25px $perry; border-radius: 50px;
              animation: html-fill 2.5s ;
            }
          .sidebar{display: none;}

          footer{
            
            width: 70%;
            margin-left: 2rem;
            h3{font-size: 2rem;}
            i{color: $merry;
            font-size: 1.5rem;
            
        }
        }




        @keyframes html-fill{
          0%{width: 0%;}
            100%{
                width: 90%;
            }
          }  
          @keyframes css-fill{
          0%{width: 0%;}
            100%{
                width: 75%;
            }

        }

        @keyframes js-fill {

          0%{width: 0%;}
          100%{
              width: 25%;
          }
          }

       /*DESKTOP VERSION*/
  
@media screen and (min-width:1024px) {
    

body {
   background-image: url(../Images/ruvim-noga-o0R4iqk1eRQ-unsplash.jpg);
  background-repeat: no-repeat;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;

.sidebar{display: block;
  display: flex;
  justify-content: space-between;
  flex-direction: column;



}
}

.overlay{background-color: rgba(36, 35, 35, 0.548);
  height: 110vh;
  width: 100%;
  padding-bottom: 50px;
  
  }
.navbar {
    display: none;
  }

  /*DESCRIPTION PART*/
main {
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100vh;

 flex-wrap: wrap;
 
}
.sec1 {
  width: 100%;
  margin-top:5rem;
  margin-left: 15rem;

  
  h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: $merry;
    &:hover{
      text-shadow: 0 15px 25px $merry;
      font-size: 4.5rem;
     
      transition: 1s;
    }
  }
  h2 {
    display: block;
    font-size: 2.2rem;
    margin-bottom: 10px;
    color: $danger;
   
  
  }


p{display: block;}

  article {
    margin-top: 5px;
    font-size: 1.7rem;
    font-weight: 600;
    margin-bottom: 5px;
    width: 80%;
    color: $perry;
  
  
    
  }
}

/*SIDEBAR*/

.sidebar { display: block;
  position: fixed;
  top: 0;
  background-color: $primary;
  height: 100vh;
  width: 140px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 10px 15px 25px $danger;
  z-index: 1;

  .infobar {
    display: block;

    .Me {
      font-size: 7rem;
      color: $danger;
      font-family: "Monoton";
      margin-left: 5px;
      animation: rubberband 3s infinite ease-out;
    }
    .me {
      color: $merry;

      font-family: "Monoton";
      color: $danger;
      a {
        font-family: "Monoton";
        margin-left: 10px;
        font-size: 2rem;
      }
    }

    .wd {
      font-size: 1.1rem;
      color: $secondary;
      margin-left: 5px;
      font-family: "Open Sans", sans-serif;
    }
  }

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: $danger;
    font-family: "Open Sans", sans-serif;

    &:hover {
      font-size: 2rem;
      transition: 0.8s;
    }
  }
  .social {
    display: flex;
    margin-left: 15px;
    margin-bottom: 30px;
    li {
      margin: 5px;
    }
    &hover {
      font-size: 2.5rem;
      transition: 0.8s;
    }
  }
}
.links {
  display: block;
  li {
    list-style: none;
    margin-bottom: 20px;
    border-bottom: 3px solid $secondary;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}


@keyframes rubberband {
0% {
  transform: scaleX(1.3) scaleY(1)  rotate(360deg);}

40% {
  transform: scaleX(1.12) scaleY(0.75);
}
55% {
  transform: scaleX(0.85) scaleY(1);
}
65% {
  transform: scaleX(1.09) scaleY(0.85);
}
75% {
  transform: scaleX(1) scaleY(1);
}
90% {
  transform: scaleX(1.05) scaleY(0.95);
}
100% {
  transform: scaleX(1.2) scaleY(1);
}
}

  

/*FOOTER*/
.sec3{
  margin-top: 8rem;
  margin-right: -5rem;
  padding-bottom: 10px;
  margin-left: 6rem;
  h2{
      font-size: 2.4rem;
      color:$merry;
      margin-bottom: 10px;
      
  }
  i{
    color: $danger;
  }      
  .div1{

      height: 20px;
      width: 100%;
  border: 3px solid;
  margin-top: 5px;
  background-color: $primary;
  margin-bottom: 5px;
  border-radius: 50px;
 
  }

  .divJs{width: 70%;
      height: 15px;
      box-shadow: inset 10px 10px 25px $secondary;
      border-radius: 50px;
}

  .divH{width: 90%;
      height: 15px;
      box-shadow: inset 10px 10px 25px $danger; border-radius: 50px;}
 .divcss{
  width:80%;
      height: 15px;
      box-shadow: inset 10px 10px 25px $perry; border-radius: 50px;}
      }

      .divC{width: 85%;
          height: 15px;
          box-shadow: inset 10px 10px 25px $merry; border-radius: 50px;}
      .divL{width: 80%;
          height: 15px;
          box-shadow: inset 10px 10px 25px $secondary; border-radius: 50px;}
      .divT{width: 85%;
          height: 15px;
          box-shadow: inset 10px 10px 25px $danger; border-radius: 50px;}
      .divLd{width: 90%;
          height: 15px;
          box-shadow: inset 10px 10px 25px $perry; border-radius: 50px;}
      .sidebar{display: none;}

footer{
    margin-top: 5rem;
    width: 50%;
    margin-right: 10rem;
    h3{font-size: 2rem;}
    i{color: $merry;
    font-size: 2rem;
    
}
}

}

/*SIDEBAR*/

.sidebar { display: block;
  position: fixed;
  top: 0;
  background-color: $primary;
  height: 100vh;
  width: 140px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0 15px 25px $danger;

  .infobar {
    display: block;

    .Me {
      font-size: 7rem;
      color: $danger;
      font-family: "Monoton";
      margin-left: 5px;
      animation: rubberband 3s infinite ease-out;
    }
    .me {
      color: $merry;

      font-family: "Monoton";
      color: $danger;
      a {
        font-family: "Monoton";
        margin-left: 10px;
        font-size: 2rem;
      }
    }

    .wd {
      font-size: 1.1rem;
      color: $secondary;
      margin-left: 5px;
      font-family: "Open Sans", sans-serif;
    }
  }

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: $danger;
    font-family: "Open Sans", sans-serif;

    &:hover {
      font-size: 2rem;
      transition: 0.8s;
    }
  }
  .social {
    display: flex;
    margin-left: 15px;
    margin-bottom: 30px;
    li {
      margin: 5px;
    }
    &hover {
      font-size: 2.5rem;
      transition: 0.8s;
    }
  }
}
.links {
  display: block;
  li {
    list-style: none;
    margin-bottom: 20px;
    border-bottom: 3px solid $secondary;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}


@keyframes rubberband {
0% {
  transform: scaleX(1.3) scaleY(1)  rotate(360deg);}

40% {
  transform: scaleX(1.12) scaleY(0.75);
}
55% {
  transform: scaleX(0.85) scaleY(1);
}
65% {
  transform: scaleX(1.09) scaleY(0.85);
}
75% {
  transform: scaleX(1) scaleY(1);
}
90% {
  transform: scaleX(1.05) scaleY(0.95);
}
100% {
  transform: scaleX(1.2) scaleY(1);
}
}
